div.nivo-caption {
	display: none !important;
}

#inner-headline .menu-heading a {
	margin: 20px 0 0 0;
}

.new-content {
	margin-top: -30px;
}

.fn-black {
	color: #353535;
}

.product-margin {
	margin-top: -10px;
}

.product-margin>a {
	color: #353535;
	font-weight: 500;
}

.btn .mybtn-theme {
	border: 1px solid;
	padding: 5px;
	background-color: #f03c02;
}

.sub-product {
	margin-top: -15px;
	margin-left: 17px;
	font-weight: normal;
}
